*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-size: 14px;
  background-color: rgba(51, 51, 51, 1);
  color: rgba(184, 184, 184, 1);
}

.btn{
  border: 2px solid rgba(47, 233, 255, 1);
  border-radius: .625rem;
  color:rgba(47, 233, 255, 1);
  font-family: Poppins;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 60px;
  padding: 1rem 1.60rem;
  text-align: center;
  margin-left: 2.466rem;
  -webkit-box-shadow:rgba(47, 233, 255, 1);
  box-shadow: rgba(47, 233, 255, 1);
  cursor: pointer;
  text-decoration: none;
}

.btn:focus {
  outline: 2px solid rgba(47, 233, 255, 1);
  outline-offset: 2px;
}

.btn:focus-visible {
  -webkit-box-shadow: none;
  box-shadow: none;
}

#contact{
  margin: auto;
  padding-top: 1.25rem;
  padding-left: 5.25rem;
  padding-right: 5.25rem;
  margin-left: auto;
  margin-right: auto;
}

.contact-b{
  background: url(../Assets/banner.png) no-repeat left bottom;
  background-size: 43%;
  background-position: right top; 
  position: relative;
}

.text > h2{
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0em;
  color: rgba(250, 250, 250, 1);
}

.text > p{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0em;
}

#contact .domain li{
  list-style-type: none;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  line-height: 42px;
  margin-top: 30px;
  letter-spacing: 0em;
  display: flex; 
  justify-content: center;
  align-items: center; 
  padding: 0%;
  width: 42%;
  flex-wrap: nowrap;
  flex-direction: row;
  max-width: 100%;
}

#contact .domain li a{
  text-decoration: none;
  color: rgba(47, 233, 255, 1);
  border: 2px solid rgba(76, 71, 247, 1);
  border-radius: .9375rem;
  padding: 1rem .75rem;
  flex-wrap: nowrap;
  flex: 1;
}

#contact .domain li img{
  border: none;
  max-width: 1.5rem;
  height: auto;
  margin-right: 22px;
}

.social-list{
  display: flex;
  list-style: none;
  margin-top: 18px;
  margin-bottom: 18px; 
  line-height: 42px;
  margin-top: 30px;
}

.social-list li{
  margin-right: 33px;
}

#contact .social-network img{
  width: 4rem;
  height: auto;
  line-height: 2.625rem;
  border: 1.125rem solid rgba(250, 250, 250, 1);
  color: rgba(250, 250, 250, 1);
  background-color: rgba(250, 250, 250, 1);
  border-radius: 20%;
}

.separator{
  width: calc(40% - 20px);
  display: flex;
  display: grid;
  grid-template-columns: 2fr 0fr 2fr;
  color: rgba(184, 184, 184, 1);;
  gap: 11px;
  margin: 0 10px;
  line-height: 42px;
}

.separator > p{
  font-weight: 400;
  font-size: 1rem;
  margin: auto;
  font-family: Montserrat;
}

.separator .line{
  display: inline-block;
  width: 100%;
  height: 2px;
  background-color: rgba(250, 250, 250, 1);
  margin: auto;
}

.social-icons img{
  width: 28px;
  margin: 0 12px;
  cursor: pointer;
  border-radius: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 0;
  width: 41%;
  height: 50%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
.form button{
    align-self: flex-end;
}
  
.flex-column > label{
  color: rgba(184, 184, 184, 1);
  font-size: 21px;
  font-weight: 600;
  line-height: 36px;
  height: 4.5rem;
  width: 45.5rem;
}
  
.inputForm{
  border: 2px solid rgba(184, 184, 184, 1);
  border-radius: 10px;
  height: 72px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  padding-right: 10px;
  top: 52px;
}
  
.input{
  margin-left: 13px;
  border-radius: 10px;
  border: none;
  width: 100vh;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.01);
  color: rgba(250, 250, 250, 1);
}
  
.input:focus {
  outline: none;
}

input[type=text],
[type=password],
[type=email]{
  color: rgba(250, 250, 250, 1);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: left;
}

.icon{
  fill: rgba(250, 250, 250, 1);
  padding-right: 1.3rem;
  font-size: 4rem;
}

.icons{
  font-size: 2rem;
}

.inputForm:focus-within {
  border: 1.5px solid rgba(250, 250, 250, 1);
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
} 
  
.flex-row > div > label{
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  padding: .625rem;
}

.check{
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px;
}

.span{
  font-size: 22px;
  margin-left: 5px;
  font-weight: 500;
  cursor: pointer;
}

.span a{
  text-decoration: none;
  color: rgba(250, 250, 250, 1);
}
  
.button-submit{
  font-family: Poppins;
  margin: 20px 0 10px 0;
  background-color:  rgba(65, 117, 5, 1);
  border: none;
  color: rgba(250, 250, 250, 1);
  font-size: 24px;
  font-weight: 600;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}
  
.button-submit:hover{
  background-color:  rgba(65, 117, 5, 1);
}

.p{
  color: rgba(184, 184, 184, 1);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: center;
}

@media screen and (max-width: 768px){
  #contact{
    margin: 1rem auto;
    padding: 1.25rem 1.7rem;
    width: 100%;
  }
  .btn{
    font-family: Poppins;
    font-size: 12px;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: 0em;
    text-align: center;
    padding: 1rem 1rem;
    white-space: nowrap;
  }  
  .social-list li{
    flex-wrap: nowrap;
    margin: 5px;
  }
  .text > h2{
    font-size: 1.5rem;
  }
  .text > p{
    font-size: .75rem;
  }
  .contact-b{
    background-position: center center;
  }
  .background{
    position: fixed;
    width: 100vh;
    height: 100vh;
    top: 0%;
    right: 0%;
    z-index: -1;
    opacity: 0.7;
    background: 1px solid rgba(51, 51, 51, 0.8);
  }
  .separator{
    width: calc(100% - 20px);
  }
  #contact .domain li{
    flex-direction: column; 
    margin-right: 0px;
    width: 100%;
  }
  #contact .domain li a{
    width: 100%; /* Take up full width on small screens */
    height: 45px;
    font-family: Poppins;
    font-size: 17px;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
  }
  #contact .domain li img{
    margin-right: 32px; 
  }
  .inputForm{
    height: 56px;
    border-radius: 10px;
  }
  .input{
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: rgba(184, 184, 184, 1);
  }
  #contact .social-network img{
    width: 3.2rem;
    height: auto;
  }
  .icon{
    font-size: 5.5rem;
  }
  .icons{
    font-size: 4.8rem;
  }
  .form{
    font-family: Poppins;
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    width: 100%;
    height: 100%;
  }
  .button-submit{
    height: 3.5rem;
    top: 650px;
    border-radius: 10px;
    gap: 5.5rem;
    font-size: 16px;
  }
  .check{
    height: 1rem;
    width: 1.5rem;
    border-radius: .25rem;
    border: .125rem;
  }
  .flex-row > div > label{
    font-size: 1rem;
    top: 28.625rem;
  } 
  .p, 
  .span{
  font-size: 1rem;
  }
}


@media (max-width:991px){
  .contact-b{
    background-position: center center;
    opacity: 80%;
  }
  .separator{
    width: calc(100% - 20px) !important;
  }
  #contact .text img{
    width: 100% !important;
    height: 4.5rem;
    border: 2px solid rgba(76, 71, 247, 1);
  }
  .form{
    width: 100% !important; 
    height: 80%;
    font-size: 16px;
  }
  
  flex-row > div > label{
    font-size: 16px;
  } 
  .p 
  .span a{
  font-size: 16px;
  }
}
@media(max-width: 1199px) {
  .contact-b{
    background-position: center center;
    background-size: cover;
  }
  .separator{
    width: calc(80% - 20px);
  }
  .background{
    position: fixed;
    width: 100vh;
    height: 100vh;
    top: 0%;
    right: 0%;
    z-index: -1;
    opacity: 0.7;
    background-color: black;
  }
  #contact .text img{
    width: 80%;
    height: 5.5rem;
  }
  .form{
    width: 80%; 
    height: 80%;
    font-size: 20px;
  }
  flex-row > div > label{
    font-size: 16px;
  } 
  .p 
  .span a{
  font-size: 16px;
  }
}