*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-size: 14px;
  background-color: rgba(51, 51, 51, 1);
  color: rgba(184, 184, 184, 1);
}

#contact{
  padding-top: 20px;
  padding-left: 7.25rem;
}

.contact-b{
  background: url(../Assets/banner.png) no-repeat left bottom;
  background-size: 45%;
  background-position: right top; 
  position: relative;
}

.text > h2{
  font-family: Poppins;
  font-size: 4rem;
  color: rgba(250, 250, 250, 1);
}

.text > p{
  padding: 5px 0;
  font-size: 1.5rem;
}

#contact .text img{
  position: relative;
  width: 37.75rem;
  height: 4.5rem;
  border-radius: .625rem;
  margin-top: 2.49rem;
}

.social-list{
  display: flex;
  list-style-type: none;
  padding: 1rem;
}

.social-list li a{
  padding-left: 1.5rem;
  position: relative;
}

#contact .social-network img{
  width: 4.2rem;
  height: auto;
  line-height: 1rem;
  border: 1.125rem solid rgba(250, 250, 250, 1);
  color: rgba(250, 250, 250, 1);
  background-color: rgba(250, 250, 250, 1);
  border-radius: 20%;
}


.separator{
  width: calc(43% - 20px);
  display: grid;
  grid-template-columns: 2fr 0fr 2fr;
  color: rgba(82, 124, 136, 0.5);
  gap: 11px;
  margin: 0 10px;
}

.separator > p{
  word-break: keep-all;
  font-weight: 400;
  font-size: 1rem;
  margin: auto;
  font-family: Montserrat;
}

.separator .line{
  display: inline-block;
  width: 100%;
  height: 2px;
  border: 0;
  background-color: rgba(250, 250, 250, 1);
  margin: auto;
}

.social-icons{
  margin: 30px auto;
  left: 128px;
}

.social-icons img{
  width: 30px;
  margin: 0 12px;
  cursor: pointer;
  border-radius: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0;
  width: 42%;
  height: 60%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
.form button{
    align-self: flex-end;
}
  
.flex-column > label {
  color: rgba(184, 184, 184, 1);
  font-size: 21px;
  font-weight: 600;
  line-height: 36px;
  height: 4.5rem;
  width: 45.5rem;
}
  
.inputForm{
  border: 1.5px solid rgba(184, 184, 184, 1);
  border-radius: 10px;
  height: 50px;
  display: flex;
  align-items: center;
  padding-left: 10px;
}
  
.input{
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 85%;
  height: 100%;
  background-color: rgba(51, 51, 51, 1);
}
  
.input:focus {
  outline: none;
}

input[type=text],
[type=password]{
  color: rgba(184, 184, 184, 1);
}

.icon{
  fill: rgba(250, 250, 250, 1);
}

.inputForm:focus-within {
  border: 1.5px solid rgba(250, 250, 250, 1);
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
} 
  
.flex-row > div > label{
  font-size: 15px;
  color: rgba(184, 184, 184, 1);
  font-weight: 400;
  padding: 10px;
}

.span{
    font-size: 24px;
    margin-left: 5px;
    font-weight: 500;
    cursor: pointer;
}

.span a{
    text-decoration: none;
    color: rgba(250, 250, 250, 1);
}
  
.button-submit{
  margin: 20px 0 10px 0;
  background-color:  rgba(65, 117, 5, 1);
  border: none;
  color: rgba(250, 250, 250, 1);
  font-size: 26px;
  font-weight: 600;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}
  
.button-submit:hover{
  background-color:  rgba(65, 117, 5, 1);
}

.p{
  text-align: center;
  color: rgba(184, 184, 184, 1);
  font-size: 24px;
  margin: 5px 0;
}
  
@media (max-width: 768px) {
  .center-content {
    text-align: center;
    margin: 0 auto;
  }

  .contact-b{
    background-position: center center;
    background-size: cover;
  }
}