*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body{
  font-size: 14px;
  background-color: rgba(51, 51, 51, 1);
  color: rgba(184, 184, 184, 1);
}

#contact{
  padding-top: 20px;
  padding-left: 7.25rem;
}

.contact-b{
  background: url(../Assets/banner.png) no-repeat left bottom;
  background-size: 43%;
  background-position: right top; 
  position: relative;
}

.text > h2{
  font-family: Poppins;
  font-size: 4rem;
  font-weight: 600;
  letter-spacing: 0em;
}

.text > p{
  font-family: Poppins;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0em;
}

#contact .text img{
  width: 37.75rem;
  height: 4.5rem;
  border-radius: .9375rem;
  margin-top: 2.49rem;
  border: 2px solid rgba(76, 71, 247, 1);
}

.social-list{
  display: flex;
  list-style-type: none;
  padding: 1.2rem;
}

.social-list li a{
  position: relative;
  padding-right: 2.4rem;
  margin: -13px;
}

#contact .social-network img{
  width: 4.2rem;
  height: auto;
  line-height: 1rem;
  border: 1.125rem solid rgba(250, 250, 250, 1);
  color: rgba(250, 250, 250, 1);
  background-color: rgba(250, 250, 250, 1);
  border-radius: 20%;
}

.separator{
  width: calc(43% - 20px);
  display: flex;
  display: grid;
  grid-template-columns: 2fr 0fr 2fr;
  color: rgba(184, 184, 184, 1);;
  gap: 11px;
  margin: 0 10px;
}

.separator > p{
  word-break: keep-all;
  font-weight: 400;
  font-size: 1rem;
  margin: auto;
  font-family: Montserrat;
}

.separator .line{
  display: inline-block;
  width: 100%;
  height: 2px;
  border: 0;
  background-color: rgba(250, 250, 250, 1);
  margin: auto;
}

.social-icons{
  margin: 30px auto;
  left: 5rem;
}

.social-icons img{
  width: 28px;
  margin: 0 12px;
  cursor: pointer;
  border-radius: 20px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 0;
  width: 42%;
  height: 60%;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
  
.form button{
    align-self: flex-end;
}
  
.flex-column > label{
  color: rgba(184, 184, 184, 1);
  font-size: 21px;
  font-weight: 600;
  line-height: 36px;
  height: 4.5rem;
  width: 45.5rem;
}
  
.inputForm{
  border: 2px solid rgba(184, 184, 184, 1);
  border-radius: 10px;
  height: 72px;
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: .5rem;
}
  
.input{
  margin-left: 10px;
  border-radius: 10px;
  border: none;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.01);
}
  
.input:focus {
  outline: none;
}

input[type=text],
[type=password]{
  color: rgba(184, 184, 184, 1);
}

.icon{
  fill: rgba(250, 250, 250, 1);
  height: 1.8331rem;
  padding-right: 1.5rem;
}

.icons{
  width: 2rem;
  height: 2rem;
}

.inputForm:focus-within {
  border: 1.5px solid rgba(250, 250, 250, 1);
}

.flex-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
} 
  
.flex-row > div > label{
  font-family: Poppins;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
  padding: .625rem;
}
.check{
  width: 18px;
  height: 18px;
  border-radius: 4px;
  border: 2px;
}

.span{
  font-size: 22px;
  margin-left: 5px;
  font-weight: 500;
  cursor: pointer;
}

.span a{
  text-decoration: none;
  color: rgba(250, 250, 250, 1);
}
  
.button-submit{
  margin: 20px 0 10px 0;
  background-color:  rgba(65, 117, 5, 1);
  border: none;
  color: rgba(250, 250, 250, 1);
  font-size: 24px;
  font-weight: 600;
  border-radius: 10px;
  height: 50px;
  width: 100%;
  cursor: pointer;
}
  
.button-submit:hover{
  background-color:  rgba(65, 117, 5, 1);
}

.p{
  text-align: center;
  color: rgba(184, 184, 184, 1);
  font-size: 24px;
  margin: 5px 0;
}

@media screen and (max-width: 768px){
  #contact {
    padding-left: 4.5rem;
    margin: 0 auto; 
    width: 100%;
  }
  .text > h2{
    font-size: 1.5rem;
  }
  .text > p{
    font-size: .75rem;
  }
  .contact-b{
    background-position: center center;
  }
  .background{
    position: fixed;
    width: 100vh;
    height: 100vh;
    top: 0%;
    right: 0%;
    z-index: -1;
    opacity: 0.7;
    background-color: black;
  }
  .separator{
    width: calc(80% - 20px);
  }
  #contact .text img{
    width: 80%;
    height: 2.0625rem;
    border: 2px solid rgba(76, 71, 247, 1);
    top: 11;
  }
  .inputForm{
    width: 100%;
    height: 56px;
    border-radius: 10px;
  }
  .input{
    font-family: Poppins;
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    text-align: left;
    color: rgba(184, 184, 184, 1);
  }
  #contact .social-network img{
    width: 3.9rem;
    height: auto;
  }
  .icon{
    width: 1.5rem;
    height: 1.5rem;
    padding-right: .67rem;
  }
  .icons{
    width: 1.5rem;
    height: 1.5rem;
  }
  .form{
    font-family: Poppins;
    font-size: 8px;
    font-weight: 400;
    line-height: 12px;
    letter-spacing: 0em;
    text-align: left;
    width: 100%;
    height: 100%;
  }
  .button-submit{
    font-size: 16px;
  }
  .button-submit{
    height: 3.5rem;
    top: 650px;
    border-radius: 10px;
    gap: 5.5rem;
  }
  .check{
    height: 1rem;
    width: 1.5rem;
    border-radius: .25rem;
    border: .125rem;
  }
  .flex-row > div > label{
    font-size: 1rem;
    top: 28.625rem;
  } 
  .p, 
  .span{
  font-size: 1rem;
  }
}


@media (max-width:991px){
  .contact-b{
    background-position: center center;
    opacity: 80%;
  }
  .separator{
    width: calc(80% - 20px);
  }
  #contact .text img{
    width: 19.5rem;
    height: 4.5rem;
    border: 2px solid rgba(76, 71, 247, 1);
  }
  .form{
    width: 80%; 
    height: 80%;
    font-size: 16px;
  }
  flex-row > div > label{
    font-size: 16px;
  } 
  .p 
  .span a{
  font-size: 16px;
  }
}
@media(max-width: 1199px) {
  .contact-b{
    background-position: center center;
    background-size: cover;
  }
  .separator{
    width: calc(80% - 20px);
  }
  #contact .text img{
    width: 80%;
    height: 5.5rem;
  }
  .form{
    width: 80%; 
    height: 80%;
    font-size: 20px;
  }
  flex-row > div > label{
    font-size: 16px;
  } 
  .p 
  .span a{
  font-size: 16px;
  }
}